.vertical-center {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 100%;
    margin-left    : -17% !important;
}

ion-label {

    --ion-background-color: #f2f6f9 !important;
}

.center {
    display: block;
    margin : auto;
    width  : 50%;

}

.ion-text-center {
    --background: #4454c3;
}

.color-theme {
    --color    : #5f478c;
    font-weight: 700;
}

ion-card-subtitle {
    --color: white;
}

.ion-profile-grid {
    --ion-grid-padding: 2px;
    background-color  : #5f478c;

    .imgcenter {
        display: block;
        margin : auto;
    }

    ion-label {
        color    : white;
        font-size: 10px;
    }
}

ion-label {
    font-size: 10px;

}

.rotate-90 {
    display  : inline-block;
    transform: rotate(90deg);
}

.f-sm {
    font-size  : smaller;
    margin-left: -15% !important;

}

.f-sm-m0 {
    font-size             : 11px;
    --ion-background-color: #141516 !important;
    font-weight           : 700;


}

.text-align-center {
    text-align: center !important;
}

.logocenter {
    padding   : 4px;
    margin-top: 0px;
}

.centerlabel {
    margin     : auto;
    text-align : center;
    font-weight: 700;


}

.padiingstart {
    padding-inline-start: 3px;
    padding-inline-end  : 3px;
    font-size           : smaller;
    color               : papayawhip !important;
}

.margin-top12px {
    margin-top: 12px;
    font-size : large;
    color     : aliceblue;

}

ion-content {
    --background: #f2f6f9 !important;
}

.bgGray {
    background-color: #f2f6f9 !important;
}

.fit-conttent {
    padding: unset;
    height : fit-content;
}

ion-grid {
    padding-top   : unset !important;
    padding-bottom: unset !important
}

button.days-btn {
    width : 32px !important;
    height: 32px !important;
}

.days {
    height: 32px !important
}

.title .switch-btn {
    font-size: 12px !important;
}

.week-title {
    font-size: 1em !important;
}

.float-right {
    float     : right;
    margin-top: 2px;
}

ion-col {
    height: fit-content !important
}