.toggle{
    --background:#d33939;
    --background-checked:#10dc60;
    width: 100%;
  }
  ion-toggle {
    zoom: 0.8;
  }
  .alignme {
    text-align: right;
}
.roundbtn{
  
  --background:#0f63ac00;
 --color:rgba(10, 10, 10, 0.657);
 --box-shadow: none !important;
}