<ion-card class="card">
  <ion-grid>
    <ion-row class="noColWrap">
      <ion-col *ngFor="let item of _colunms" [size]="item.tblcolumnWidth?item.tblcolumnWidth:5"
        [ngStyle]="item.name=='actions' && !_isbtnflag ?{'display': 'none'} : {'display': 'block'}">
        <div>{{item.title}}</div>
      </ion-col>

    </ion-row>
    <ion-row class="noColWrap" *ngFor="let data of _dataSource">
      <ion-col *ngFor="let item of _colunms" [size]="item.tblcolumnWidth?item.tblcolumnWidth:5"
        [ngStyle]="item.name=='actions' &&   !_isbtnflag?{'display': 'none'} : {'display': 'block'}">
        <div class="actions" *ngIf="item.name=='actions'">
          <ion-button tc-button *ngFor="let actionButton of item.buttons"
            (click)="actionButton.click ? actionButton.click($event,data) : 'return;'">
            <ion-icon [name]="actionButton.icon" size="small"></ion-icon>
          </ion-button>

        </div>
        <div style="padding-top: 5px;" *ngIf="item.name!=='actions'">{{data[item.name]}}</div>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-card>